.pane {
  border: 1px solid black;
  box-sizing: border-box;
}

.pane-2 {
	position: absolute;
	left: %;
	top: 9.8%;
	font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #c3996b
}
.column {
	font-family: "Impact", "Haettenschweiler", 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
	color: #c3996b
}

.pane-3 {
	top: 100%;
	font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #c3996b;
}

.pane-1 {
	bottom: 2%;
}
.centered {
	text-align: center; vertical-align: top;

	font-size: 30px;
}
.hotbean {
	color: #c3996b;
	text-align: center;

}
.notcolumn {
	text-align: center;
}
.my-button {
  background-color: #fff4cc ;
  color: #c3996b;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
}

.image-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.image-button img {
  width: 100px;
  height: 100px;
}
.searchbar {
	width: 400px;
	height: 50px;
	font-size: 30px;
}
.button {
	width: 50px;
	height: 50px;
	font-size: 30px;
}
